@font-face {
    font-family: "DidactGothic-Regular";
    src: url('./fonts/DidactGothic-Regular.ttf');
}


/* ----------- TESTING OVERFLOW ------------- */
/* * {
    outline: 1px solid red !important;
    opacity: 1 !important;
    visibility: visible !important
 } */


/* ----------- TOP-LEVEL CLASSES ------------- */

:root {
    --gamergreen: #0dff64;
    --gamerorange: rgb(255, 115, 0);
    --gamergrey: rgb(54, 54, 54);
    --testD4color: hsla(30,2476%,118%,1.0);
    --offwhite: #dbcfb7; /* #ebe8e2 */
    background-color: var(--offwhite);
}
body {
    height: 100vh;
    height: 100svh;
}
.parent { 
    display: grid; 
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: repeat(6, 15vh); 
    grid-column-gap: 0.3rem;
    grid-row-gap: 0.3rem;
}
.child {
    /*border-style: none;*/
    border: solid black 1px;
    background-color: var(--gamergrey)
}



/* ------------ CONTENT COMPONENTS ---------- */

/* Navbar */
.navbar-container { 
    grid-area: 1 / 1 / 2 / 6; 
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    overflow: hidden;
    /*border-style: none;*/
} 
.navbar-right-container {
    padding-top: 0.5vh;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 11vw;
}

/* Sidebar */
.sidebar-container { 
    grid-area: 2 / 1 / 7 / 2; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
} 
.dice-results-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.dice-results-container {
    height: 88%;
    width: 16vw;
    padding-left: 10px;
    overflow: scroll;
    border: solid grey;
    border-radius: 4px;
}

/* Central Content */
.content-container { 
    grid-area: 2 / 2 / 7 / 5; 
} 
.content-toolbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10%;
}
.dice-faces-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 90%;
}

/* Rightbar */
.rightbar-container {
    grid-area: 2 / 5 / 7 / 6; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

/* Bottom Text */
.bottom-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
}



/* ------------ BUTTONS, ICONS, IMAGES, TEXT ---------------- */

/* Buttons */
button {
    all: unset;
    cursor: pointer;
}
.nav-button {
    /* height: 5vh; */
    color: grey;
}
.nav-button:hover {
    border-bottom: solid grey 2px;
}
.nav-button:focus {
    border-bottom: solid black 5px;
    color: black;
}
.dice-button:hover {
    border: solid grey;
    border-radius: 4px;
}
.toolbar-button {
    border: solid grey;
    border-radius: 4px;
    padding: 0px 10px;
    margin-top: 10px;
}
.toolbar-button:hover {
    border-bottom: solid grey 2px;
}


/* Dividers */
.nav-divider {
    font-size: 4rem;
    color: grey;
}


/* Images */
.logo-image {
    max-height: 16vh;
}
#menu-image {
    padding-top: 0.4vh;
    scale: 1.4;
}
#pfp-image {
    max-height: 5vh;
}
.dice-image {
    height: 4rem;
}
#trash-image {
    scale: 0.8;
    margin: 0 10px;
    padding-top: 20px;
}

/* Text, Titles */
.select-dice-prompt {
    position: absolute;
    padding-left: 50px;
    padding-top: 0;
    opacity: 0.4;
}
/*#dice-result {
    font-size: 1rem;
}*/


/* "Dice Objects - i.e., faces that change number */
.dice-face {
    border: solid black 1px;
    border-radius: 2vw;
    background-color: black;
    margin: 5px 5px;
    color: white /* i.e. font color */
}



/* ------------ PURE STYLING ---------------- */


/* SVG image filter */
.filter-d4 {
    filter: brightness(0) saturate(100%) invert(48%) sepia(79%) saturate(2476%) hue-rotate(30deg) brightness(118%) contrast(119%);
}
.filter-d6 {
    filter: brightness(0) saturate(100%) invert(48%) sepia(79%) saturate(2476%) hue-rotate(90deg) brightness(118%) contrast(119%);
}
.filter-d8 {
    filter: brightness(0) saturate(100%) invert(48%) sepia(79%) saturate(2476%) hue-rotate(135deg) brightness(118%) contrast(119%);
}
.filter-d10 {
    filter: brightness(0) saturate(100%) invert(48%) sepia(79%) saturate(2476%) hue-rotate(180deg) brightness(118%) contrast(119%);
}
.filter-d12 {
    filter: brightness(0) saturate(100%) invert(48%) sepia(79%) saturate(2476%) hue-rotate(225deg) brightness(118%) contrast(119%);
}
.filter-d20 {
    filter: brightness(0) saturate(100%) invert(48%) sepia(79%) saturate(2476%) hue-rotate(270deg) brightness(118%) contrast(119%);
}
.filter-dCustom {
    filter: brightness(0) saturate(100%) invert(48%) sepia(79%) saturate(2476%) hue-rotate(315deg) brightness(118%) contrast(119%);
}
.filter-logo {
    filter: brightness(0) saturate(100%) invert(48%) sepia(79%) saturate(2476%) hue-rotate(-20deg) brightness(118%) contrast(119%);
}
.filter-grey {
    filter: brightness(0) saturate(100%) invert(0) sepia(0) saturate(0) hue-rotate(0deg) brightness(0.5) contrast(0);
}


/* Background themes */
.paper-bg {
    background-color: #000;
    background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), linear-gradient(#eee 0.1em, transparent 0.1em);
    background-size: 100% 1.2em;
}
.dots-bg {
    background: linear-gradient(90deg, var(--gamergrey) 21px, transparent 1%) center, linear-gradient(var(--gamergrey) 21px, transparent 1%) center, var(--offwhite);
    background-size: 22px 22px;
}
.grid-bg {
    background-image: linear-gradient(#0053ff 3.6px, transparent 3.6px), linear-gradient(90deg, #0053ff 3.6px, transparent 3.6px), linear-gradient(#0053ff 1.8px, transparent 1.8px), linear-gradient(90deg, #0053ff 1.8px, #f7f7f7 1.8px);
    background-size: 90px 90px, 90px 90px, 18px 18px, 18px 18px;
    background-position: -3.6px -3.6px, -3.6px -3.6px, -1.8px -1.8px, -1.8px -1.8px;
}


/* Styling Classes */
.didact-font-1rem {
    font-family: 'DidactGothic-Regular';
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;
}

.didact-font-2rem {
    font-family: 'DidactGothic-Regular';
    font-weight: normal;
    font-style: normal;
    font-size: 2rem;
}

.shadow {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hidden {
    display: none;
}



/* --------- ANIMATIONS ----------- */

/* loading animation */
.spinner {
    position: absolute;
    /*margin: 100px auto;*/
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 10px;
    /* border: solid red; */
    padding-top: 10px;
  }
  
  .spinner > div {
    background-color: #000000;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: stretchDelay 1.2s infinite ease-in-out;
    animation: stretchDelay 1.2s infinite ease-in-out;
  }
  
  .spinner .rect3 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
  }
  
  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  
  @-webkit-keyframes stretchDelay {
    0%,
    40%,
    100% {
      -webkit-transform: scaleY(0.4);
    }
    20% {
      -webkit-transform: scaleY(1);
    }
  }
  
  @keyframes stretchDelay {
    0%,
    40%,
    100% {
      transform: scaleY(0.6);
      -webkit-transform: scaleY(0.6);
    }
    20% {
      transform: scaleY(1);
      -webkit-transform: scaleY(1);
    }
  }



/* ------------------ MEDIA QUERIES ------------------ */

/* Note: specifying mobile layout below. Consider specifying mobile above and performing */
/* media queries once webpage is expanded. */

@media screen and (max-width:900px) {
    .nav-divider {
        display: none;
    }
    .nav-button {
        display: none;
    }
    .navbar-container {
        /* justify-content: space-between; */
        justify-content: center;
    }
    .navbar-right-container {
        max-width: 180px;
        width: 30vw;
    }
    .rightbar-container {
        grid-area: 6 / 2 / 7 / 6; 
        flex-direction: row-reverse;
    }
    .dice-results-title-container {
        /*display: flex;
        justify-content: space-between;
        align-items: center;*/
        flex-direction: column;
    }
    #dice-results-title {
        font-size: max(4vw, 1.5rem);
    }
    .dice-results-container {
        height: 80%;
        width: 50vw;
        overflow: scroll;
        border: solid grey;
        border-radius: 4px;
    }
    #trash-image {
        padding-top: 0;
    }
    .content-container {
        grid-area: 2 / 2 / 6 / 6; 
    }
    #pfp-button {
        padding-right: 5vh;
    }
    .temp-logo {
        display: none;
    }
    .select-dice-prompt {
        padding-top: 20vh;
        padding-left: 5vw;
    }
}